@import "../../../../styles//colors.module.scss";

.imgPresentation {
  width: 550px;
}

.subTitle {
  font-size: 18px;
  font-weight: 700;
  color: $lightRed;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.description {
  font-size: 20px;
  color: $lightGray;
  margin: 20px 0px 40px 0;
}

.btnCta {
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 14px 30px;
  border: 2px solid $lightRed;

  &:hover {
    border-color: $darkRed;
    color: $lightGray;
    background-color: transparent;
  }

  .btnImg {
    width: 11px;
  }
}

.arrowDown {
  width: 30px;
}

@media screen and (max-width: 991px) {
  .imgPresentation {
    display: flex;
    margin: 50px auto;
  }
}

@media screen and (max-width: 1199px) and (min-width: 991px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 590px) {
  .imgPresentation {
    width: 95%;
  }

  .title {
    font-size: 26px;
    line-height: 34px;
  }

  .description {
    font-size: 14px;
  }

  .btnCta {
    padding: 10px 7px;
  }
}

@media screen and (max-width: 359px) {
  .subTitle {
    font-size: 12px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }
}
