@import "../../../../styles/colors.module.scss";

.imgLogoNav {
  width: 160px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px;
}

.searchImg {
  width: 26px;
  margin: 0px 10px;
  cursor: pointer;
}

.userProfile {
  font-weight: 700;
  font-size: 24px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px 14px;
}

.input {
  background-color: transparent;
  color: #fff;
  border-radius: $lightGray;
  &:focus {
    background-color: transparent;
    color: #fff;
    border-color: $mediumGray;
    box-shadow: none;
  }

  &::placeholder {
    color: #fff;
  }
}

.modal {
  position: absolute;
  width: 150px;
  height: 80px;
  top: 85px;
  right: 17%;
  background-color: #303030;
  outline: none;
  border-radius: 5px;
  box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 24px;
}

.overlayModal {
  background-color: red;
}

.modalLink {
  color: #fff;
  margin: 5px 0;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: $lightRed;
  }
}

@media screen and (max-width: 724px) {
  .modal {
    right: 10%;
  }
}

@media screen and (max-width: 513px) {
  .nav {
    justify-content: center;
    gap: 10px;
  }

  .modal {
    top: 120px;
    right: 20%;
  }
}
